<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box
        {
            width: 500px;
            min-height: 100px;
            border: 1px solid #000;
            margin: 120px auto;
            padding: 20px 20px;
        }
        .box h2
        {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="box">
        <h2>Update Student</h2>
        <center>
            
        <table>
            <form action="" method="post">
                <tr>
                    <td>
                        <input type="hidden" name="id" value="<%=students[0].id %>">
                    </td>
                </tr>
            <tr>
                <td>Enter Full Name</td>
                <td>
                    <input type="text" name="name" value="<%=students[0].name %>" autocomplete="off">
                </td>
            </tr>
            <tr>
                <td>Enter Mobile</td>
                <td>
                    <input type="number" name="mob"  value="<%=students[0].mob %>" autocomplete="off">
                </td>
            </tr>
            <tr>
                <td>Enter Email Address</td>
                <td>
                    <input type="email" name="email" value="<%=students[0].email %>" autocomplete="off">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                   <input type="submit" value="Update">
                </td>
            </tr>
        </form>
        </table>
    </center>
    </div>
   
</body>
</html>